@import "./../../style/variables";

.item {
  padding: 10px;
  width: 90%;
  min-height: 220px;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: $transition;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  }
}
.img {
  width: 65%;
  display: block;
  margin: 0 auto;
}
.name {
  font-size: 20px;

}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.deleteIcon {
  transition: $translow;
  cursor: pointer;
  &:hover {
    color: $main-color;
    transform: scale(1.2);
  }
}
.counter {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn {
  background-color: $main-color;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  transition: $transition;
  cursor: pointer;
  span {
    line-height: 25px;
    color: #fff;
  }
  &:hover,
  &:active {
    background-color: $btn-hover;
  }
}
