@import "./../../style/variables";

.main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.btn {
  display: flex;
  margin: 0 auto;
  padding: 10px 15px;
  background-color: $accent-color;
  color: #fff;
  border: none;
  border-radius: 10px 10px 0 0;
  transition: $transition;
  margin-bottom: 20px;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.loading {
  width: 100%;
  img {
    display: flex;
    margin: 0 auto 50px;
  }
}
