@import "./../../style/variables";

.main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.pagination {
  margin: 0 auto 100px;
}
.loading {
  width: 100%;
  img {
    display: flex;
    margin: 0 auto 50px;
  }
}
