@import "./../../style/variables";
.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.elem {
  padding: 5px 15px;
  background-color: $main-color;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: $transition;
  transition: background-color 0.3s;
  cursor: pointer;
  &.active,
  &.active:hover {
    background-color: $btn-hover;
    transform: scale((1.1));
  }
  &:hover {
    transform: scale((1.1));
    background-color: rgba(0, 0, 0, 0.2);
  }
}
