@import "./../../style/variables";

.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 18px;
  border: 1px solid $accent-color;
  height: 55px;
  margin-bottom: 30px;
}
.elem {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  border-radius: 17px;
  height: 100%;
  transition: $transition;
  transition: all 0.3s;
  cursor: pointer;
  &.active,
  &.active:hover {
    background: $accent-color;
    color: #fff;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
