@import "./../../style/variables";

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px 0;
}
.formSubtitle {
  display: flex;
  label {
    display: block;
    width: 200px;
  }
  input {
    width: 450px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
  }
  textarea {
    width: 450px;
    min-height: 200px;
    padding: 5px 10px;
    outline: none;
  }
}

.colorWrapper {
  display: flex;
  gap: 10px;
  min-height: 80px;
}
.colorsCont {
  display: flex;
  align-items: center;
  gap: 10px;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: relative;
  p {
    position: absolute;
    bottom: -25px;
    left: -50%;
    font-size: 14px;
  }
}
.activeColor {
  position: relative;
  &:before {
    content: "✔";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: rotate(10deg) translate(-63%, -45%);
    color: black;
  }
}
.chooseColor {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.addNewColorWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  input[type="text"] {
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    width: 230px;
  }
}

.addNewColor,
.btnCreateNew {
  padding: 20px 30px;
  background-color: $accent-color;
  width: 200px;
  color: #fff;
  border-radius: 10px;
  transition: $transition;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover;
  }
}
.addNewColor {
  display: inline-block;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
