@import "./../../style/style.scss";

.changeBtn {
  padding: 20px 30px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  background-color: $accent-color;
  transition: $transition;
  margin: 10px 0;
  cursor: pointer;

  &:hover {
    background-color: $btn-hover;
  }
}
.personalData {
  border: 1px $main-color solid;
  padding: 30px;
  border-radius: 10px;
  min-height: 250px;
}
.wrapper {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 40px;
}
.name {
  input {
    padding: 5px 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid $main-color;
  }
  p {
    margin-bottom: 10px;
  }
  span {
    font-weight: 600;
  }
}
