@import "./../../style/style.scss";

.changeBtn {
  padding: 20px 30px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  background-color: $accent-color;
  transition: $transition;
  cursor: pointer;

  &:hover {
    background-color: $btn-hover;
  }
}
.personalData {
  border: 1px $main-color solid;
  padding: 30px;
  border-radius: 10px;
  min-height: 250px;
  margin-bottom: 100px;
}
.wrapper {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
.subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 40px;
}
.name {
  input {
    padding: 5px 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid $main-color;
  }
  p {
    margin-bottom: 10px;
  }
  span {
    font-weight: 600;
  }
}
.changeBtn {
  margin-top: 10px;
}
@media (max-width: 1600px) {
  .changeBtn {
    padding: 10px 20px;
    font-size: 18px;
  }
  .personalData {
    min-height: 140px;
    margin-bottom: 70px;
    padding: 20px 30px;
  }
  .subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .changeBtn {
    padding: 10px 20px;
    font-size: 14px;
  }
  .personalData {
    min-height: 100px;
    padding: 20px 30px;
  }
  .subtitle {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .name {
    span {
      font-size: 14px;
    }
  }
}
@media (max-width: 992px) {
  .wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .namePassword {
    width: 100%;
  }

  .name {
    width: 100%;
    input {
      width: 100%;
    }
  }
}
