@import "./../../style/style.scss";

.quote {
  margin: 0 auto;
  border-radius: 70px;
  width: 876px;
  min-height: 428px;
  padding: 62px;
  text-align: center;
  border: 25px #f4f0ec solid;
  position: relative;
  margin-bottom: 100px;
  &__img {
    margin-bottom: 27px;
  }
  &:before {
    content: "";
    height: 25px;
    width: 499px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }
  &:after {
    content: "";
    height: 25px;
    width: 499px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }
  q {
    color: #292f36;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 35px;
    font-style: italic;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.7px;
    display: block;
    margin-bottom: 34px;
    &:before,
    &:after {
      content: "";
    }
  }
  p {
    color: #4d5053;
    text-align: center;
    font-family: Jost;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.25px;
  }
}
.aboutWork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  &__info {
    p {
      margin-bottom: 40px;
    }
    a {
      border-radius: 18px;
      background: #292f36;
      box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
      padding: 26px 41px;
      color: #fff;
      text-decoration: none;
      img {
        margin-left: 10px;
        vertical-align: sub;
      }
    }
  }
  &__block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 150px;
    p {
      width: 500px;
    }
  }
  &__title {
    margin-bottom: 23px;
  }
  &__img {
    width: 670px;
    height: 350px;

    img {
      border-radius: 70px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.aboutWork__block_2 {
  justify-content: end;
}
.team {
  background-color: #f4f0ec;
  min-height: 968px;
  width: 100%;
}
