@import "./../../style/style.scss";

.name_columns {
  display: grid;
  min-height: 40px;
  grid-template-columns: 40% auto auto auto auto;
  background-color: $main-color;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
  font-weight: 600;
}
.item {
  display: grid;
  padding: 10px 20px;
  grid-template-columns: 40% auto auto auto auto;
  align-items: center;
  gap: 10px;
  position: relative;
}
.delete {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  transition: $transition;
  font-size: 25px;
  cursor: pointer;
  &:hover {
    color: $accent-color;
  }
}
.block {
  display: flex;
  align-items: center;
  gap: 10px;
}
.img {
  height: 250px;
  width: 250px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.nameGood{
  width: 200px;
}
.counter {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn {
  background-color: $main-color;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  transition: $transition;
  cursor: pointer;
  span {
    line-height: 25px;
    color: #fff;
  }
  &:hover,
  &:active {
    background-color: $btn-hover;
  }
}
.delivery {
  font-size: 15px;
  margin-bottom: 10px;
}
.res {
  display: flex;
  justify-content: space-between;
}
.btn {
  &_orange {
    padding: 5px 10px;
    background-color: $accent-color;
    color: #fff;
    border-radius: 5px;
    transition: $transition;
    cursor: pointer;
    &:hover {
      background-color: $btn-hover;
    }
  }
  &_top {
    margin-top: 20px;
    padding: 10px 30px;
  }
}
.sum {
  margin-top: 10px;
  span {
    font-weight: 600;
    font-size: 20px;
  }
}
.result {
  font-size: 20px;
  display: flex;
  align-items: end;
  gap: 7px;
  margin-bottom: 15px;
}
.ticket {
  margin-bottom: 100px;
  form {
    margin-bottom: 10px;
  }
  input {
    padding: 5px 10px 5px 0;
    border: none;
    border-bottom: 1px solid black;
    margin-right: 10px;
    outline: none;
    font-size: 18px;
  }

  p {
    margin-bottom: 5px;
  }
}

.empty {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text {
  font-size: 14px;
  a {
    color: $main-color;
    font-weight: 600;
    text-decoration: none;
    &:hover,
    &:active {
      color: #000;
    }
  }
}
