@import "./../../style/variables";

.mainImg {
  width: 100%;
  height: 600px;
  margin-bottom: 100px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 0px 0px 100px;
    // filter: brightness(75%);
    
  }
}
.title {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 350px;
  color: #fff;
}
.text_descr {
  position: absolute;
  top: 280px;
  left: 50px;
  width: 300px;
  color: #fff;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.item {
  width: 358px;
  text-align: center;
  padding-left: 60px;
  & + .item {
    border-left: #292f36 1px solid;
  }
  &__title {
    color: #292f36;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 20px;
  }
  &__descr {
    margin-bottom: 52px;
  }
  &__link {
    color: #4d5053;
    text-align: center;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.36px;
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto 50px;
  margin-bottom: 100px;
}
.content {
  width: 470px;
}
.descr {
  color: $text-color;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.22px;
  margin-bottom: 45px;
}
.tel {
  display: flex;
  align-items: center;
  gap: 15px;
  span {
    display: block;
    color: $text-color;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
  }
}
.imgTel {
  width: 93px;
  height: 93px;
  cursor: pointer;
  img {
    transition: $transition;
  }
  &:hover img {
    transform: scale(1.1);
  }
}
.number {
  color: $text-color;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.24px;
  text-decoration: none;
  transition: $translow;
  &:hover {
    color: $accent-color;
  }
}
.img {
  width: 700px;
  height: 653px;
  border-radius: 0 320px 0px 125px;
  filter: brightness(85%);
}
.btn {
  padding: 26px 48px;
  background-color: $main-color;
  text-decoration: none;
  color: black;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
