@import "./../../style/_variables.scss";

.logo {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logoImg {
  width: 110px;
  height: 60px;
}
.logoOne {
  width: 34px;
  height: 34px;
  object-fit: contain;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 10px 0;
}

ul.list {
  float: right;
  list-style: none;
  align-items: center;
  display: flex;
  gap: 25px;
  li {
    cursor: pointer;
    transition: $transition;
    font-size: 18px;
    a {
      text-decoration: none;
      color: #000;
      position: relative;

      &::after {
        content: "";
        background-color: #b5b3b3;
        display: block;
        position: absolute;
        bottom: -10px;
        height: 2px;
        width: 0%;
        transition: width 0.5s ease-in-out;
      }
      &:hover:after {
        width: 100%;
      }
    }
  }
}
.language {
  display: flex;
  align-items: center;
  gap: 10px;
  button {
    border: none;
    padding: 5px 20px;
    background-color: $accent-color;
    color: #fff;
    border-radius: 5px;
    transition: $translow;
    cursor: pointer;
    font-size: 18px;

    &:hover {
      background-color: $btn-hover;
    }
  }
}
.entranceExit {
  font-size: 16px;
}

.listSide {
  display: none;
}
.overlay {
  nav {
    display: none;
  }
}

@media (max-width: 1600px) {
  .header {
    margin: 3px auto;
  }
  .logo {
    gap: 3px;
  }
  .logoImg {
    width: 85px;
    height: 45px;
  }
  .logoOne {
    width: 25px;
    height: 25px;
  }
  ul.list li,
  .language {
    font-size: 12px;
  }
  .language {
    button {
      font-size: 12px;
      padding: 3px 15px;
    }
  }
  .entranceExit {
    font-size: 12px;
  }
  ul.list li a {
    &::after {
      bottom: -5px;
      height: 1.5px;
    }
  }
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  ul.list {
    display: none;
  }
  .header {
    justify-content: end;
    gap: 15px;
  }
  .logo {
    gap: 0;
  }
  .overlay {
    height: 110vh;
    width: 35%;
    padding: 20px 10px;
    background-color: #fff;
    box-shadow: -10px 0 5px -5px rgba(0, 0, 0, 0.3);
    position: fixed;
    right: 0;
    top: -10px;
    z-index: 201;
    transition: opacity 3s ease-in-out;
    nav {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      width: 90%;
    }
    .language {
      display: flex;
      justify-content: center;
    }
  }
  .listSide {
    font-family: Jost;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #292f36;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
    li {
      cursor: pointer;
      transition: $transition;
      a {
        text-decoration: none;
        color: #000;
        position: relative;
        display: inline-block;
        padding: 7px 30px;
      }
    }
  }
}
@media (max-width: 768px) {
  .listSide {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .language {
    display: none;
  }
  .overlay {
    width: 75%;
  }
  .listSide {
    font-size: 16px;
  }
  .logoOne {
    width: 20px;
    height: 20px;
  }
  .logoImg {
    width: 70px;
    height: 37px;
  }
}
