@import "./../../style/_variables.scss";

.logo {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logoImg {
  width: 110px;
  height: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
}

ul.list {
  float: right;
  list-style: none;
  display: flex;
  gap: 25px;
  li {
    cursor: pointer;
    transition: $transition;
    a {
      text-decoration: none;
      color: #000;
      position: relative;

      &::after {
        content: "";
        background-color: #b5b3b3;
        display: block;
        position: absolute;
        bottom: -10px;
        height: 2px;
        width: 0%;
        transition: width 0.5s ease-in-out;
      }
      &:hover:after {
        width: 100%;
      }
    }
  }
}
.language {
  display: flex;
  align-items: center;
  gap: 10px;
  button {
    border: none;
    padding: 5px 20px;
    background-color: $accent-color;
    color: #fff;
    border-radius: 10%;
    transition: $translow;
    cursor: pointer;

    &:hover {
      background-color: $btn-hover;
    }
  }
}

