$main-color: #a5a5a5;
$accent-color: rgb(205, 162, 116);
$neutral-color: #f4f0ec;
$text-color: #4d5053;
$transition: all 0.3s ease-in;
$translow: all 0.1s ease;
$btn-color: #292f36;
$btn-hover: rgba(0, 0, 0, 0.6);
