@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
@import "./_variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.container {
  width: 1280px;
  margin: 30px auto;
}

.basket {
  float: right;
  margin-right: 30px;
  width: 29px;
  height: 20px;
  color: $main-color;
  transition: $transition;
  cursor: pointer;
  &:hover,
  &.active {
    color: rgba(0, 0, 0, 0.8);
    transform: scale(1.2);
  }
}
