@import "./../../style/variables";

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.logoImg {
  width: 110px;
  height: 60px;
}
.top {
  padding: 20px 20px 0;
}
.sidebar {
  border-right: 1px rgba(0, 0, 0, 0.2) solid;
  min-height: 100vh;
  background-color: #fff;
  flex: 1;
}
.center {
  margin-top: 30px;
  padding: 0 15px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      gap: 10px;
      font-size: 20px;
      transition: $translow;
      width: 100%;
      cursor: pointer;
      a {
        display: block;
        width: 100%;
        min-height: 30px;
        padding: 10px;
        div {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    .icon {
      color: $accent-color;
    }
    .title {
      font-size: 18px;
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
}
@media (max-width: 1600px) {
  .logo {
    gap: 3px;
  }
  .logoImg {
    width: 85px;
    height: 45px;
  }
  .logoOne {
    width: 25px;
    height: 25px;
  }
  .center {
    ul {
      li {
        a {
          span {
            font-size: 16px;
          }
        }
      }
    }
  }
}
