@import "./../../style/variables";

.oneGood {
  margin: 100px 0;
  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
    min-height: 450px;
    margin-bottom: 30px;
  }
  &__img {
    width: 500px;
    height: 300px;
    object-fit: contain;
  }
  &__info {
    width: calc(100% - 650px);
    h2 {
      margin-bottom: 20px;
      font-size: 24px;
    }
    button {
      padding: 10px 30px;
      background-color: $accent-color;
      border-radius: 10px;
      color: #fff;
      border: none;
      outline: none;
      transition: $transition;

      cursor: pointer;
      &:hover {
        background-color: $btn-hover;
      }
    }
  }
  &__descr {
    margin-bottom: 20px;
  }
  &__price {
    display: flex;
    margin-bottom: 5px;
    gap: 5px;
    div {
      font-weight: 600;
    }
    span {
      font-weight: 400;
    }
  }
}
.chooseColors {
  margin-bottom: 10px;
}
.colors {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.color {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  transition: $translow;
  position: relative;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
.activeBlack {
  transform: scale(1.2);
  &:before {
    content: "✔";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: rotate(10deg) translate(-63%, -45%);
    color: black; /* Черная галочка для всех, кроме черного */
  }
}

.activeBlackWhite {
  transform: scale(1.2);
  &:before {
    content: "✔";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: rotate(10deg) translate(-63%, -45%);
    color: white; /* Белая галочка для черного цвета */
  }
}
.otherGood {
  margin-bottom: 100px;
  &__title {
    margin-bottom: 20px;
  }
  &__wrapper {
    display: flex;
  }
}

.item {
  display: block;
  width: 380px !important;
  min-height: 450px;
  margin-bottom: 50px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  position: relative;
  padding: 20px 10px 10px;
  cursor: pointer;
  transition: $transition;
  &:hover {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  }
  &:hover img {
    transform: scale(1.1);
  }
  &:hover .instock {
    background-color: $accent-color;
    color: #fff;
  }
  .instock {
    padding: 5px 10px;
    border-radius: 10px 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    border: 1px solid $accent-color;
    transition: all 0.5s ease;
  }
  .img {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 220px;
    transition: $transition;
  }
  .name {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .content {
    padding: 10px;
  }

  .price {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }

  .add {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 30px;
    height: 30px;
    background-color: $main-color;
    color: #fff;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: $transition;
    z-index: 100;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      background-color: $btn-hover;
    }
    &:active {
      background-color: #fff;
    }
  }
}
.img {
  transition: $transition !important;
}
.count {
  margin-bottom: 10px;
}
.nextArrow,
.prevArrow {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  left: -70px;
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:active {
    border: none;
  }
}

.prevArrow {
  left: inherit;
  right: -70px;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  cursor: pointer;
}
.oneGood__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  label {
    display: block;
    width: 200px;
  }
  input {
    width: 450px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
  }
  textarea {
    width: 450px;
    min-height: 200px;
    padding: 5px 10px;
    outline: none;
  }
}
textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $accent-color;
  border: 1px solid $accent-color;
}

textarea::-webkit-scrollbar-track {
  border: 1px solid $accent-color;
  background-color: #fff;
}

@media (max-width: 1600px) {
  .oneGood {
    margin: 0;
    &__wrapper {
      justify-content: center;
      margin-top: 70px;
    }
    &__descr {
      font-size: 12px;
      margin-bottom: 10px;
    }
    &__img {
      width: 420px;
    }
    &__info {
      width: 400px;
      gap: 5px;
      h2 {
        margin-bottom: 10px;
      }
    }
    label {
      font-size: 13px;
      font-weight: 600;
    }
    input,
    textarea {
      font-size: 12px;
    }
    &__price {
      font-size: 13px;
    }
  }
  .color {
    width: 25px;
    height: 25px;
  }
  .item {
    max-width: 300px !important;
    min-height: 360px;
    .img {
      width: 80%;
      height: 160px;
      display: block;
      margin: 0 auto;
    }
    .price {
      font-size: 12px;
    }
    .name {
      font-size: 14px;
    }
    p {
      font-size: 13px;
    }
    .add {
      width: 25px;
      height: 25px;
      font-size: 20px;
    }
  }
  .color {
    width: 23px;
    height: 23px;
  }
  .activeBlack {
    &:before {
      font-size: 14px;
    }
  }
  .btnChange {
    font-size: 12px;
  }
  .oneGood__wrapper {
    min-height: 380px;
  }
  .oneGood__img {
    width: 360px;
  }
}
@media (max-width: 1400px) {
  .oneGood__wrapper {
    gap: 30px;
  }
}
@media (max-width: 992px) {
  .btns {
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .oneGood {
    &__wrapper {
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 30px;
    }
    &__img {
      width: 100%;
      height: 250px;
    }
    &__info {
      width: 100%;
      h2 {
        text-align: center;
      }
    }
  }
}
@media (max-width: 576px) {
  .oneGood {
    &__img {
      width: 80%;
      margin: 0 auto;
      display: block;
    }
  }
  .oneGood__info button {
    width: 90%;
    margin: 0 auto;
  }
}
