@import "./../../style/style.scss";

.wrapper {
  background-color: $neutral-color;
  padding: 88px 24px;
  border-radius: 20px;
  width: 100%;
  min-height: 680px;
  margin-bottom: 50px;
}
.title {
  text-align: center;
  width: 400px;
  margin: 0 auto 38px;
}
.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
