@import "./../../style/style.scss";

.wrapper {
  background-color: $neutral-color;
  padding: 88px 24px;
  border-radius: 20px;
  width: 100%;
  min-height: 680px;
  margin-bottom: 100px;
}
.title {
  text-align: center;
  width: 400px;
  margin: 0 auto 38px;
}
.items {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

@media (max-width: 1600px) {
  .title {
    width: auto;
    font-size: 45px;
  }
  .items {
    justify-content: space-around;
  }
  .wrapper {
    min-height: 540px;
    padding: 70px 25px;
    margin-bottom: 70px;
  }
}

@media (max-width: 1200px) {
  .items {
    justify-content: center;
    gap: 30px;
  }
  .title {
    width: auto;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 35px;
  }
}
